header, body, footer {
    margin: 0 20px 0 20px;
}

header {
    border: 15px solid transparent;
    -moz-border-image: url("./assets/border.png") 80 80 80 80 round;
    -webkit-border-image: url("./assets/border.png") 80 80 80 80 round;
    border-image: url("./assets/border.png") 45 45 45 45 round;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    display: block;
    height: 60px;
}

header h1 {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    margin-bottom: 2px;
}

header div {
    margin-top: 5px;
}

header p {
    color: grey;
    font-family: Impact ;
}

header nav {
    float:right;
}

header img {
   float: left;
   margin-right: 5px;
}

nav ul {
    display: inline-block;
    height: min-content;
    padding: 5px;
}

nav ul li {
    display: inline;
}
