footer {
  clear: both;
  height: 100px;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 10px;
  color: #c9c9c9;
  margin-top: 20px;
}
footer div.footerPart1 {
  display: inline-block;
  float: left;
  width: 423px;
  border-bottom: 1px #eaeaea solid;
  padding-top: 15px;
}
footer img {
  display: 
  margin: 
}
footer div.footerPart2 {
  display: inline-block;
  float: right;
  width: 423px;
  border-bottom: 1px #eaeaea solid;
  padding-top: 15px;
}
footer p.footerText{
  margin-top: 
}
footer p {
  margin: 
}