footer {
  clear: 
  height: 
  text-align: 
  font-family: 
  font-size: 
  color:
  margin-top: 
}
footer div.footerPart1 {
  display: 
  float: 
  width: 
  border-bottom: 
  padding-top: 
}
footer img {
  display: 
  margin: 
}
footer div.footerPart2 {
  display: 
  float: 
  width: 
  border-bottom: 
  padding-top: 
}
footer p.footerText{
  margin-top: 
}
footer p {
  margin: 
}